<div style="position: fixed; width: 100%; z-index: 99;" *ngIf="loaderService.isLoading | async">
  <div class="progress">
    <div
      class="progress-bar progress-bar-striped progress-bar-animated"
      role="progressbar"
      style="width: 100%"
      aria-valuemin="0"
      aria-valuemax="100"
    ></div>
  </div>
</div>


<!-- <div class="spinner-border" role="status" *ngIf="loaderService.isLoading | async">
  <span class="visually-hidden">Loading...</span>
</div> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <img routerLink="/" src="assets/logo.png" alt="" srcset="" height="55px">
    <!-- <a class="navbar-brand" routerLink="/">DIQURAN</a> -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="basicNav.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div
      class="collapse navbar-collapse"
      id="navbarNav"
      mdbCollapse
      #basicNav="mdbCollapse"
    >
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">About</a>
      </li>
    </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>