<div class="container">
    <div class="row">
        <h1 class="text-center">ABOUT</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis, repudiandae! Non quasi nostrum consectetur ducimus commodi sunt ipsum molestiae dolor laboriosam ratione a, numquam assumenda doloremque quidem autem porro eligendi. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique labore dolore nihil distinctio eligendi ullam atque nemo inventore fuga, accusantium suscipit iusto doloribus ea quia quaerat laboriosam delectus at sit?
    </div>
</div>